{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:eslint-plugin/recommended",
    "plugin:n/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "n/no-missing-import": [
      "error",
      {
        "allowModules": ["estree"],
        "typescriptExtensionMap": [[".ts", ""]]
      }
    ],
    "n/no-unpublished-import": [
      "error",
      {
        "ignoreTypeImport": true
      }
    ]
  },
  "ignorePatterns": ["dist/**/*"],
  "overrides": [
    {
      "files": ["tests/**/*"],
      "env": {
        "jest": true
      }
    }
  ]
}
